###################################################
#				Version: 1.4                      #
###################################################

#folder for megahit
megahitfolder = default

#folder for Arwen
arwenfolder = default

#folder for Blast
blastfolder = default

#folder for idba
idbafolder = default

#folder for MetaSpades
metaspadesfolder = default

#folder for tRNAscan-SE
trnascanfolder = default

#folder for MitFi
mitfifolder = default
