###################################################
#				Version: 1.0                      #
###################################################

#folder for megahit
megahitfolder= default 

#folder for Arwen
arwenfolder = default

#folder for Blast
blastfolder = default

#folder for idba
idbafolder = default

#folder for MetaSpades
metaspadesfolder = default


